
.top_bar {
background: white;
padding: 23px 13px 0px 14px;
margin-bottom: 17px;
margin-top: -4px;
width: 100%;
box-shadow: 1px 1px 3px #8181811a;
}

.top_bar .menu li {
    display: inline-block;
    margin-right: 22px;
}
.top_bar .menu li a {
    font-size: 14px;
    font-weight: 700;
    color: #589adb;
    margin-top: 10px;
}

.top_bar .menu li a.active {
  color: #636363;
}

.primaryHeader__secondaryMenu .primaryHeader__secondaryMenu_searchElement {
  display: inline-block;
}

.primaryHeader__secondaryMenu .menu {
  display: flex;
  width: 100%;
  justify-items: center;
  justify-content: space-around;
}

:global .global_container {
    width: 100%;
    max-width: 100%;
    padding: 4px 0px;
}

:global .pagesSidebar_component .addPageBtn {
    margin-bottom: 10px;
    margin-left: 11px;
    display: block;
    clear: both;
    width: 90%;
}
:global .focusedPageContainer {
    display: inline-block;
    float: left;
    padding-left: 29px;
    width: 80%;
}

:global .croped.focusedPageContainer {
    margin-left: 15%;
    margin-top: -5px;
}
:global .pageListContainer {
    list-style: none;
    padding-left: 0px;
    overflow-x: scroll;
    height: 100%;
}
:global .pageListContainer .pageContainer {
    padding: 6px 7px 0px 14px;
font-size: 16px;
border: none;
clear: both;
margin-left: -3px;
border-radius: 4px;
transition: all .2s;
}
:global .pageListContainer .pageContainer:hover {
    background: #8080801a;
}

:global .pageListContainer .pageContainer:hover .pageDropdownButton {
    opacity: 1;
}
:global .pageDropdownButton {
    display: inline-block;
    float: right;
    clear: both;
    opacity: 0;
    transition: all .3s;
}
:global .pageDropdownButton .dropdown-toggle {
    border: solid 1px #e3e3e3;
    border-radius: 90px;
width: 22px;
height: 23px;
}
:global .pagePrimaryLink {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 65%;
    display: inline-block;
    color: #303030;
}

:global .pageDropdownButton .caret {
    margin-left: -4px;
    color: #6b6161;
}
:global .pageDropdownButton .dropdown-menu {
    left: -120px;
}


:global .pageContent__contentList {
  /*
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: stretch;
*/
}
:global .pageContent__contentList .page {
    padding: 5px 1px 4px 1px;
    flex-basis: auto;
    flex-grow: 1;
    margin-right: 10px;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    clear: both;
}

:global .pageContent__contentResource-content_value ul {
  list-style: none;
}
:global .pageContent__contentResource-content_value h3 {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 15px;
}
:global ul.pageContent__contentList {
    margin-left: 0px;
    padding-left: 0px;
    clear: both;
}

.pageContent__contentResource-content_value {
    display: inline-block;
    float: left;
}
.pageContent__contentResource-content_value {
    display: inline-block;
    float: left;
}
:global .pageContent__contentResource-content_value {
    clear: both;
    display: inline-block;
    float: left;
    width: 65%;
}
:global .pageContent__contentResource-content_controls {
    display: inline-block;
    float: right;
    margin-top: 18px;
}
:global .pageContentRootContainer {
    display: block;
    width: 100%;
    min-height: 79px;
    background: white;
    margin-bottom: 10px;
    box-shadow: 1px 1px 2px #dbdbdb;
    padding: 2px 14px;
}
:global .btn.btn-default {
    background: white;
    box-shadow: 1px 1px 3px #8080804D;
    border: none;
}
:global .pageContent__mainControlGroup div.pageContent__sortableDropdown, 
:global .pageContent__mainControlGroup div.pageContent__contentCreateButton,
:global .pageContent__mainControlGroup div.pageContent__sortableDropdown {
    float: left;
    margin-bottom: 11px;
    display: inline-block;
    margin-right: 10px;
}
:global .pageContent__mainControlGroup {
    display: block;
    margin-top: 20px;
    width: 100%;
    clear: both;
}
:global .pageContent__mainControlGroup div.pageContent__sortableDropdown {
  float: right;
}
:global .container.createContentFormContainer {
    clear: both;
    display: block;
    width: 35%;
    margin: 0 0;
}
/*
Content type
*/
:global .LinkContentLinkA {
    display: block;
    max-width: 555px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
:global .LinkContentLinkTitle {
    display: block;
    max-width: 755px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*
// END Content type
*/

:global .pageContent__contentResource-content_type {
    display: inline-block;
    float: right;
    font-size: 11px;
    margin-top: 8px;
    margin-right: 20px;
}
:global @keyframes appears-drag-preview {
    from {  transform: rotate(0deg) }
    to {transform: rotate(-7deg) }
}
:global .HeaderUserCredentials {
  float: right;
}
:global .HeaderUserCredentials a {
  cursor: pointer;
 font-size: 14px;
font-weight: 700;
color: #589adb;
}
:global html, :global body {
  background: rgba(164, 180, 176, 0.04);

}
:global .flonotes_logo {
    width: 104px;
    display: inline-block;
    float: left;
    margin-top: -28px;
}
:global .header_component {
    position: relative;
    z-index: 3;
}
:global .btn.btn-success {
    background: none;
background: linear-gradient(to bottom,#5cb85c 0,#59C359 100%);
box-shadow: none;
border: none;
border-radius: 2px;
font-weight: 700;
text-shadow: none;
transition: all 1s;
}
:global .btn.btn-success:hover {
    background: linear-gradient(to bottom,#479547 0,#419641 100%);
}
:global .btn.btn-success.addPage {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 16px;
}
:global .active.btn.btn-success.addPage {
    box-shadow: black 1px 1px 7px inset;
    background: #3AA13A;
}
/*
By default CSS exports all class names into a global selector scope. 
Styles can be locally scoped to avoid globally scoping styles.

The syntax :local(.className) can be used to declare className in the local scope. 
The local identifiers are exported by the module.

With :local (without brackets) local mode can be switched on for this selector. 
:global(.className) can be used to declare an explicit global selector. 
With :global (without brackets) global mode can be switched on for this selector.

The loader replaces local selectors with unique identifiers. 
The choosen unique identifiers are exported by the module.

  :global
*/