.top_bar .menu li {
    display: inline-block;
    margin-right: 22px;
}
.primaryHeader__secondaryMenu .primaryHeader__secondaryMenu_searchElement {
  display: inline-block;
}

.primaryHeader__secondaryMenu .menu {
  display: flex;
  width: 100%;
  justify-items: center;
  justify-content: space-around;
}

:global .global_container {
    width: 100%;
    max-width: 100%;
    padding: 4px 24px;
}
:global .pagesSidebar_component {
    display: inline-block;
    float: left;
    width: 15%;
    border-right: 1px solid gray;
}

:global .focusedPageContainer {
    display: inline-block;
    float: left;
    padding-left: 29px;
    width: 80%;
}

:global .pageListContainer {
    list-style: none;
}
:global .pageContent__contentList {
  /*
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: stretch;
*/
}
:global .pageContent__contentList .page {
  padding: 5px 1px 4px 1px;
  flex-basis: auto;
  flex-grow: 1;
  margin-right: 10px;
  min-width: 150px;
  max-width: 100%;
  margin-bottom: 20px;
  display: block;
  clear: both;
}

:global .pageContent__contentList ul {
  list-style: none;
}
:global .pageContent__contentList h3 {
    font-size: 16px;
    margin-bottom: 4px;
}
.pageContent__contentResource-content_value {
    display: inline-block;
    float: left;
}
.pageContent__contentResource-content_value {
    display: inline-block;
    float: left;
}
:global .pageContent__contentResource-content_value {
    display: inline-block;
    float: left;
}
:global .pageContent__contentResource-content_controls {
    display: inline-block;
    float: right;
}

/*
By default CSS exports all class names into a global selector scope. 
Styles can be locally scoped to avoid globally scoping styles.

The syntax :local(.className) can be used to declare className in the local scope. 
The local identifiers are exported by the module.

With :local (without brackets) local mode can be switched on for this selector. 
:global(.className) can be used to declare an explicit global selector. 
With :global (without brackets) global mode can be switched on for this selector.

The loader replaces local selectors with unique identifiers. 
The choosen unique identifiers are exported by the module.

  :global
*/