
.top_bar {
  background: white;
padding: 17px 13px 14px 14px;
margin-bottom: 17px;
margin-top: -4px;
width: 100%;
box-shadow: 1px 1px 3px #8181811a;

}

.top_bar .menu li {
    display: inline-block;
    margin-right: 22px;
}
.top_bar .menu li a {
font-size: 14px;
font-weight: 700;
color: #589adb;
}

.top_bar .menu li a.active {
  color: #636363;
}

.primaryHeader__secondaryMenu .primaryHeader__secondaryMenu_searchElement {
  display: inline-block;
}

.primaryHeader__secondaryMenu .menu {
  display: flex;
  width: 100%;
  justify-items: center;
  justify-content: space-around;
}

:global .global_container {
    width: 100%;
    max-width: 100%;
    padding: 4px 24px;
}

:global .pagesSidebar_component .addPageBtn {
    margin-bottom: 10px;
    margin-left: 11px;
    display: block;
    clear: both;
    width: 90%;
}
:global .focusedPageContainer {
    display: inline-block;
    float: left;
    padding-left: 29px;
    width: 80%;
}

:global .pageListContainer {
    list-style: none;
    padding-left: 15px;
}
:global .pageContent__contentList {
  /*
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: stretch;
*/
}
:global .pageContent__contentList .page {
    padding: 5px 1px 4px 1px;
    flex-basis: auto;
    flex-grow: 1;
    margin-right: 10px;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    clear: both;
}

:global .pageContent__contentList ul {
  list-style: none;
}
:global .pageContent__contentList h3 {
    font-size: 16px;
    margin-bottom: 4px;
}
.pageContent__contentResource-content_value {
    display: inline-block;
    float: left;
}
.pageContent__contentResource-content_value {
    display: inline-block;
    float: left;
}
:global .pageContent__contentResource-content_value {
    clear: both;
    display: inline-block;
    float: left;

}
:global .pageContent__contentResource-content_controls {
    display: inline-block;
    float: right;
}
:global .pageContentRootContainer {
    display: block;
    width: 100%;
    height: 60px;
}
:global .pageContent__contentResource-content_type {
    display: inline-block;
    float: right;
    font-size: 11px;
    margin-top: -20px;
}
:global @keyframes appears-drag-preview {
    from {  transform: rotate(0deg) }
    to {transform: rotate(-7deg) }
}
:global .HeaderUserCredentials {
  float: right;
}
:global .HeaderUserCredentials a {
  cursor: pointer;
 font-size: 14px;
font-weight: 700;
color: #589adb;
}
:global html, :global body {
  background: rgb(249, 249, 249);
  background-color: rgb(249, 249, 249);
}
/*
By default CSS exports all class names into a global selector scope. 
Styles can be locally scoped to avoid globally scoping styles.

The syntax :local(.className) can be used to declare className in the local scope. 
The local identifiers are exported by the module.

With :local (without brackets) local mode can be switched on for this selector. 
:global(.className) can be used to declare an explicit global selector. 
With :global (without brackets) global mode can be switched on for this selector.

The loader replaces local selectors with unique identifiers. 
The choosen unique identifiers are exported by the module.

  :global
*/