<html>
	<head>
	  <title>DatNotes</title>
	  <link href="/normalize.css" rel="stylesheet"/>
	  <!--
	  <link href="/skeleton.css" rel="stylesheet"/>
	  -->
	  <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">
	  <link href="/app.css" rel="stylesheet"/>
		<base href="/">
	</head>
	<body>
		<div class="container global_container">
			<div id="app">
				<%- reactOutput %>
			</div>
		</div>
     	<script src="/bundle.js"></script>
	</body>
</html>