<html>
	<head>
	  <title>FlowNotes</title>
	  <link href="/normalize.css" rel="stylesheet"/>
	  <link href="/skeleton.css" rel="stylesheet"/>
	  <link href="/app.css" rel="stylesheet"/>
	  <link rel="stylesheet" href="https://unpkg.com/react-select/dist/react-select.css">
		<base href="/">
	</head>
	<body>
		<div class="container">
			<div id="app">
				<%- reactOutput %>
			</div>
		</div>
     	<script src="/bundle.js"></script>
	</body>
</html>